:root {
    --dk-blue: #363151;
    --lt-blue: #e1caf7;
    --dk-grey: #191919;
    --lt-grey: #e0e3e7;
    --body-text: 'Open Sans', sans-serif;
    --head-text: 'Playfair Display', serif;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-size: 1.8rem;
    color: var(--dk-grey);
    font-family: var(--body-text);
}

h2 {
    font-family: var(--head-text);
    font-weight: 700;
    font-size: 3.6rem;
    padding: 3rem;
}

p {
    padding: 0 3rem 3rem;
}

img {
    margin-top: 3rem;
    border-radius: 2rem;
}

.about a > img {
    border-radius: 0.5rem;
}

.square-banner a > img {
    width: 50%;
    border-radius: 2rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

/* .inner-container div {
    padding: 0 3rem;
} */


/* banner style */
.banner {
    background-image: url(../img/larkspur-banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
}

.banner h1 {
    font-size: 4.8rem;
    text-align: center;
    color: #ffffff;
    font-family: var(--head-text);
    padding: 3rem;
}

/* about style */
.about {
    background: linear-gradient(to bottom, hsl(285, 7%, 78%), #fff);
    padding: 3rem;
}

/* direction styles */
.direction {
    background-color: #0c175c;
    color: white;
    padding: 2.4rem;
}

/* leisure style */

.leisure {
    padding: 2.4rem;
}

/* library styles */
.library {
    background: var(--lt-blue);
    padding: 2.4rem;
}

/* footer styles */
footer {
    background: var(--dk-grey);
    padding: 5.4rem;
}

footer h3 {
    color: var(--lt-grey);
    padding-bottom: 2rem;
}

footer a {
    color: var(--lt-grey);
    display: block;
    font-size: 1.6rem;
    padding-top: 1.6rem;
}

footer a:hover {
    cursor: pointer;
    color: #e1caf7;
}

footer a:nth-child(4) {
    padding-top: 3rem;
    text-decoration: none;
}

footer a:nth-child(5) {
    padding-top: 1rem;
    text-decoration: none;
}

.social {
    display: flex;
}

.social img {
    border-radius: 0;
    padding-right: 3rem;
    padding-top: 0;
    margin-top: 0;
}


/* -- Code for the Cookie Compliance popover window -- */

#cookiePopup {
  background-color: #ffffff;
  position: absolute;
  left: 5%;
  bottom: 0;
  font-size: 14px;
  width: 90%;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
  font-family: "Poppins", sans-serif;
  text-align: justify;
  line-height: 1.8em;
  margin: 0 auto;
  padding: 2em 1.4em;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}

#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
}
#cookiePopup button {
  background-color: #6859fe;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 1em 1.4em;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 5px;
}
#cookiePopup a {
  color: #6859fe;
}

.hide {
  visibility: hidden;
  
}
.show {
  visibility: visible;
 
}

/* -- End of Code for the Cookie Compliance popover window -- */

@media screen and (min-width: 1000px) {

    .inner-container {
        margin: auto;
        max-width: 120rem;
    }

    .library .inner-container, .direction .inner-container, .leisure .inner-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .leisure .inner-container {
        flex-direction: row-reverse;
    }

    .square-banner {
        display: flex;
        align-items: center;
        margin-top: 4rem;
    }

    .square-banner > div {
        width: 70%;
    }

    img {
        max-width: 40%;
        margin-bottom: 3rem;
    }

    .social img {
        max-width: 100%;
        margin-bottom: 0;
    }

    .about img {
        max-width: 100%;
        margin: auto;
    }

    .square-banner a > img {
        width: 250px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer .inner-container {
        margin-left: 0;
    }

    footer > img {
        margin: 5rem;
    }

}
